<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Garments</th>
                <th scope="col">Weight</th>
                <th scope="col">Amount</th>


            </tr>
        </thead>
        <tbody id="KTableBody">

        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary" onclick="	KSGlobalClientSideFuncsClass.Booking.ApiFuncs.Insert()">Insert</button>